html,body {
    background-image: url(officekeyboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
body{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.stickyheader{
    text-align: center;
    position: sticky;
    background-color: #131B23;
    height: 775;
}

.stickyheader img{
    position: relative;
    height: 55px;
    width: 55px;
}



.hdtxt p{
    text-align:center;
    font-weight: bold;
    font-size:800%;
}
