html,body {
    background-image: url(officekeyboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
body{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.stickyheader{
    position: sticky;
    top: 0px;
    width: auto;
    height: 120px;
    background: #131B23;
    margin: left 0px;
    padding-bottom: 4px;
    margin-left: 0px;
    margin-right: 0px;
    
}
.stickyheader h1{
    text-align: center;
    margin-top: 0px;
    
}
.textheader header{
    text-align:center;
    font-weight: bold;

}

.hdtxt p{
    text-align:center;
    font-weight: bold;
    font-size:800%;
}

header:hover{
    color: #2274A5;
    text-decoration:overline underline;
    
}
